In [1]:
import json
import requests
import pandas as pd

In [2]:
endpoint = "https://data.iadb.org/api/action/datastore_search"
params = {
    "resource_id": "3f49f455-2427-4030-ba8d-df2490615d52",
    "limit": 1000,
    "offset": 0
}

In [5]:
response = requests.get(endpoint, params=params)
response_json= json.loads(response.text)
df = pd.DataFrame(response_json["result"]["records"])
df.head(10)

,_id,name,country,isoalpha3,frequency,period,date,value
0,1,"GDP (US$ per capita, current prices)",Argentina,ARG,Annual,1993,01/01/1993 12:00:00 AM,7535.541554789233
1,2,"GDP (US$ per capita, current prices)",Argentina,ARG,Annual,1994,01/01/1994 12:00:00 AM,8093.228662041112
2,3,"GDP (US$ per capita, current prices)",Argentina,ARG,Annual,1995,01/01/1995 12:00:00 AM,8001.790979809282
3,4,"GDP (US$ per capita, current prices)",Argentina,ARG,Annual,1996,01/01/1996 12:00:00 AM,8333.892346308428
4,5,"GDP (US$ per capita, current prices)",Argentina,ARG,Annual,1997,01/01/1997 12:00:00 AM,8861.236559767358
5,6,"GDP (US$ per capita, current prices)",Argentina,ARG,Annual,1998,01/01/1998 12:00:00 AM,8941.331755615676
6,7,"GDP (US$ per capita, current prices)",Argentina,ARG,Annual,1999,01/01/1999 12:00:00 AM,8382.838615801007
7,8,"GDP (US$ per capita, current prices)",Argentina,ARG,Annual,2000,01/01/2000 12:00:00 AM,8308.273816048139
8,9,"GDP (US$ per capita, current prices)",Argentina,ARG,Annual,2001,01/01/2001 12:00:00 AM,7769.082252201162
9,10,"GDP (US$ per capita, current prices)",Argentina,ARG,Annual,2002,01/01/2002 12:00:00 AM,2759.55523613778